@import "../../../styles/_variables.scss";

.modal-body {
    padding: 2rem !important;
}

.custom {
    width     : 100%;
    height    : 40px;
    margin-top: .8rem;
    margin-top: 0;

    &:focus {
        box-shadow: none;
    }
}

.choose-file {
    padding         : .6rem 2rem;
    background-color: $light;
    color           : $dark-blue;
    width           : fit-content;
    display         : flex;
    align-items     : center;
    border-radius   : 5px;
    cursor          : pointer;
    transition      : all .3s ease;

    &:hover {
        background-color: $dark-blue;
        color           : $light;
    }

    i {
        margin-left: 1rem;
        font-size  : 20px;
    }
}