.custom {
    height: 100px;
}

.main-manage {
    .content-left {
        .doctor-info-extra {
            margin-top: 2rem;

            .option-doctor {
                .form-control {
                    height: 38px;

                    &:focus {
                        box-shadow: none;
                    }
                }
            }
        }
    }

    .content-right {
        textarea {
            height: 400px;
            resize: none;

            &:focus {
                box-shadow: none;
            }
        }
    }
}