.body-header {
    margin-bottom: 2rem;
}

.item-input {
    margin-bottom: 1.4rem;
    
    p {
        margin-bottom: 0;
    }
    
    input {
        margin-top: .5rem;
        padding: 0.8rem 1rem;
        outline: none;
        
        &:focus {
            box-shadow: none;
        }

    }

    select {
        margin-top: .5rem;
        padding: .8rem 1rem !important;
        
        &:focus {
            box-shadow: none;
        }
    }
}

.btn-save {
    padding: .5rem 3rem;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    color: rgb(30, 52, 135);
    background-color: rgb(209, 228, 239);
    transition: all .3s ease;

    &:hover {
        color: rgb(209, 228, 239);
        background-color: rgb(30, 52, 135);
    }
}