.doctor-detail-container {

    .intro-doctor {

        .content-left {

            .doctor-img {
                height: 240px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }
}