@import "../../../styles/_variables.scss";

.doctor-detail-container {

    .intro-doctor {
        margin-bottom: 2rem;

        .content-left {
            display    : grid;
            place-items: center;
            padding    : 2rem;

            .doctor-img {
                width              : 200px;
                height             : 200px;
                background-size    : contain;
                background-position: center;
                background-repeat  : no-repeat;

            }
        }

        .content-right {

            .name-doctor {
                font-size    : 32px;
                margin-bottom: 1.2rem;
            }

            .desc-doctor {
                font-size: 14px;
            }
        }
    }
}

.main-detail {
    background-color: rgb(209, 228, 239);
    border-top      : 1px solid rgb(107, 143, 208);

    .detail-info-doctor {
        padding: 5rem 0;

        h2 {
            margin-bottom: 1rem;
        }

        ul {
            li {
                margin: .8rem 0;
            }
        }

        img {
            margin-top   : 2rem;
            width        : 100%;
            border-radius: 4px;
        }
    }

    .comment-doctor {}
}