@import "../../../styles/_variables.scss";

div._loading_overlay_wrapper {
	position: unset;

	._loading_overlay_overlay {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 1000000;
	}

	._loading_overlay_content {
		z-index: 1000000;
	}
}

.doctor-detail-container {
	.intro-doctor {
		margin-bottom: 2rem;

		.content-left {
			display: grid;
			place-items: center;
			padding: 2rem;

			.doctor-img {
				width: 200px;
				height: 200px;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
			}
		}

		.content-right {
			.name-doctor {
				font-size: 32px;
				margin-bottom: 1.2rem;
			}

			.desc-doctor {
				font-size: 14px;
				margin-bottom: 1rem;
			}
		}
	}
}

.main-detail {
	background-color: rgb(209, 228, 239);
	border-top: 1px solid rgb(107, 143, 208);

	.detail-info-doctor {
		padding: 5rem 0;

		h2 {
			margin-bottom: 1rem;
		}

		ul {
			li {
				margin: 0.8rem 0;
			}
		}

		img {
			margin-top: 2rem;
			width: 100%;
			border-radius: 4px;
		}
	}

	.comment-doctor {
		width: 100%;
	}
}

@media only screen and (device-width: 375px) {
	.doctor-detail-container {
		display: none;
	}

	::-webkit-scrollbar {
		display: none;
	}

	.container {
		width: 375px !important;
		margin: 0;
	}

	.mobile-container {
		display: block;
		overflow: hidden;
		.intro-doctor {
			display: block;

			.content-left,
			.content-right {
				max-width: 100%;
			}
		}

		.schedule-doctor {
			display: block;

			.content-left {
				.time-content img {
					transform: translate(-50%);
				}
			}

			.content-left,
			.content-right {
				max-width: 100%;
			}
		}
	}

	.main-detail {
		display: block;
		max-width: 375px;
	}

	.footer-total-services {
		display: block;
		width: 375px;
		.mobile-col-4,
		.mobile-col-8 {
			text-align: center;
			max-width: 100%;
		}
	}

	.section-footer {
		flex-direction: column;
	}
}
