@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Raleway:wght@300;500;700&display=swap');
@import "../../styles/_variables.scss";

.login-form {
	height: 100vh;
    display: flex;
	font-family: 'Montserrat', sans-serif;

    &-container {
        width: 650px;
        margin: auto;
		border: 1px solid $dark-blue;
		color: $dark-blue;
		transition: box-shadow .5s ease, transform .5s ease;

		&:hover {
			transform: translate(8px, -8px);
			box-shadow: -8px 8px $dark-blue;
		}
    }

	.login-content {
		padding: 1rem;

		&-header {
			font-family: 'Raleway', sans-serif;
			font-size: 80px;
			text-transform: uppercase;
			margin-bottom: 3rem;
		}

		label {
			margin-bottom: .5rem;
			font-size: 1.5rem;
		}

		input {
			margin-bottom: 1.8rem;
			padding: 1rem;
			border-radius: 0;
			border-color: $dark-blue;
			background-color: transparent;

			&::placeholder {
				color: $dark-blue;
				opacity: .5;
			}

			&:focus {
				box-shadow: none;
			}
		}

		.btn-login {
			padding: .5rem 4rem;
			margin: 2rem 0 1rem 0;
			background-color: transparent;
			outline: none;
			border: 1px solid $dark-blue;
			font-size: 1.2rem;
			float: right;
			color: $dark-blue;

			&:hover {
				background-color: $dark-blue;
				color: $light;
			}
		}

		.forgot-password {
			cursor: pointer;
			padding-bottom: .4rem;

			&:hover {
				border-bottom: 1px solid $dark-blue;
			}
		}

		.bt {
			padding: 1rem;
			border-top: 1px solid $light-blue;
		}

		.h2 {
			font-family: 'Raleway', sans-serif;
		}

		.social-login {
			display: flex;
			align-items: center;
			justify-content: center;
			span {
				border: 1px solid $dark-blue;
				margin: 0 2rem;
				padding: .5rem 2rem;
				width: 200px;
				display: block;
				font-size: 1.3rem;

				i{
					margin-right: 1rem;
					font-size: 1.6rem;
				}

				&:hover {
					background-color: $dark-blue;
					color: $light;
					cursor: pointer;
				}
			}
		}
	}
}

@media(max-width: 720px) {
	.login-form {
		&-container {
			width: 360px;
			&:hover {
				transform: none;
				box-shadow: none;
			}
		}

		.login-content {
			.social-login {
				flex-direction: column;
				gap: 1rem 0;
				
				span {
					width: 100%;
				}
			}
		}
	}
}