@import "../../../styles/_variables.scss";

.section-about {
	padding: 3.5rem 0;
	background: url("../../../assets/Background2.jpg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 722px;

	.section-content-about {
		width: fit-content;
		float: right;
		position: relative;
		top: 100px;
		right: 50px;
		.about-main {
			.about-right {
				iframe {
					width: 720px;
					height: 320px;
				}
			}
		}
	}
}

// Responsive
// Tablet and PC
@media (min-width: 46.25em) and (max-width: 63.9375em) {
	.section-about {
		padding: 2rem 0;

		.section-content-about {
			top: 170px;

			.about-main {
				width: fit-content;
				.about-right {
					iframe {
						width: 480px;
						height: 240px;
					}
				}
			}
		}
	}
}

// Mobile
@media (max-width: 46.1875em) {
	.section-about {
		display: none;
	}
}
