@import "../../../styles/_variables.scss";

.section-specialty {
    margin-bottom: 500px;

    .specialty-content {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;

        .specialty-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: Montserrat;
            margin-bottom: 100px;

            .sub-header {
                font-size: 24px;
                font-weight: 700;
                color: $dark-blue;
            }

            button {
                outline: none;
                border: none;
                padding: .5rem 2rem;
                color: $dark-blue;
                background-color: $light;
                transition: all .3s ease;

                &:hover {
                    background-color: $dark-blue;
                    color: $light;
                }
            }
        }

        .item-block {

            .item {
                height: 100%;
                padding: 2rem;
                margin: 0 .4rem;
                background-color: $light;
                text-align: center;

                img {
                    width: 100%;
                    margin-bottom: 1rem;
                }

                p {
                    margin-bottom: 0;
                }
            }
        }
    }
}


// Reset
.slick-prev {
    left: 7px !important;
}
.slick-next {
    left: 60px !important;
}
.slick-next, .slick-prev {
    background-color: $light !important;
    top: -50px !important;
    height: 50px !important;
    width: 50px !important;
}
.slick-prev::before {
	content: "\f104"!important;
    font-family: 'Font Awesome 5 Free' !important;
    font-weight: 900; 
    font-size: 30px !important;
    color: $dark-blue !important;
}
.slick-next::before {
	content: "\f105"!important;
    font-family: 'Font Awesome 5 Free' !important;
    font-weight: 900; 
    font-size: 30px !important;
    color: $dark-blue !important;
}
