@import "../../styles/_variables.scss";

.home-header-container {
	height: 100px;
	padding: 1rem;
	background-color: #fff;
	position: sticky;
	top: 0;
	z-index: 1;
	border-bottom: 1px solid $light-blue;

	.home-header-content {
		width: 100%;
		height: 100%;
		display: flex;

		.left-content {
			width: 25%;
			display: flex;
			align-items: center;
			position: relative;

			.header-logo {
				cursor: pointer;
			}

			.header-icon-nav {
				width: 30px;
				height: 30px;
				display: flex;
				flex-direction: column;
				gap: 5px 0;
				justify-content: center;
				cursor: pointer;
				position: relative;

				&::before {
					content: "";
					position: absolute;
					width: 50px;
					height: 24px;
					top: 20px;
					background-color: transparent;
					z-index: 1;
				}

				&:hover {
					span:nth-child(1) {
						width: 100%;
					}

					span:nth-child(2) {
						width: 100%;
					}

					~ .nav-menu {
						display: block;
					}
				}

				span {
					height: 2px;
					display: block;
					background-color: $light-blue;
					transition: all 0.5s ease;

					&:nth-child(1) {
						width: 45%;
					}

					&:nth-child(2) {
						width: 75%;
					}

					&:nth-child(3) {
						width: 100%;
					}
				}
			}

			.header-logo {
				height: 100%;
				width: 100px;
				background: url("../../assets/logo.svg") center center no-repeat;
			}

			.nav-menu {
				position: absolute;
				width: 100%;
				top: 55px;
				background-color: white;
				box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
				border-radius: 5px;
				display: none;

				&:hover {
					display: block;
					transition: all 0.3s ease;
				}

				ul {
					padding: 0;
					margin: 0;
					li {
						padding: 0.6rem 2rem;
						cursor: pointer;
						transition: all 0.3s ease;

						&:hover {
							background-color: $light;
						}

						a {
							display: block;
							width: fit-content;
							color: $dark-blue;
							text-decoration: none;
						}
					}
				}
			}
		}

		.center-content {
			width: 50%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-family: Montserrat;

			.child-content {
				p {
					margin-bottom: 0;
					font-size: 12px;
				}
			}
		}

		.right-content {
			width: 25%;
			display: flex;
			align-items: center;
			justify-content: space-around;
			font-family: Montserrat;

			.support {
				display: flex;
				align-items: center;

				i {
					color: $light-blue;
					font-size: 24px;
					margin-right: 1rem;
				}
			}

			.choose-language {
				display: flex;
				align-items: center;
				gap: 0 1rem;
				font-size: 1.2rem;

				div {
					padding: 1rem;
				}

				.language-vi,
				.language-en {
					opacity: 0.4;
					cursor: pointer;

					&.active {
						opacity: 1;

						span {
							color: $dark-blue;
						}
					}
				}
			}
		}
	}

	.center-content-rps {
		display: none;
	}
}

.home-header-banner {
	background: url(../../assets/Background1.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 800px;
	margin-bottom: 20px;

	.banner-header-content {
		text-align: center;

		h2 {
			font-family: Montserrat;
			font-size: 30px;
			font-weight: 700;
			padding-top: 2rem;
			color: $dark-blue;
			text-transform: uppercase;
		}
	}

	.search {
		display: flex;
		align-items: center;
		width: 400px;
		background-color: $light;
		margin: 0 auto;
		margin-top: 2rem;
		padding: 0.5rem;
		border-radius: 50px;

		i {
			margin-right: 1rem;
			color: $light-blue;
			margin-left: 1rem;
		}

		input {
			border: none;
			width: 100%;
			background-color: transparent;
			outline: none;
			color: $light-blue;

			&::placeholder {
				color: $light-blue;
			}
		}
	}

	.option {
		display: flex;
		gap: 2rem;
		justify-content: center;
		position: relative;
		top: 480px;
		background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));

		.option-item {
			width: 140px;
			text-align: center;
			padding: 1rem 0.5rem;
			cursor: pointer;
			border-radius: 10px;
			transition: all 0.3s ease;

			&:hover {
				background-color: $light;

				.item-text {
					color: $dark-blue;
				}
			}

			.item-icon {
				img {
					margin-bottom: 1rem;
					width: 50px;
				}
			}

			.item-text {
				font-family: Montserrat;
				color: $light-blue;
				font-weight: 500;
				margin-bottom: 0;
			}
		}
	}
}

// RESPONSIVE
@media screen and (max-width: 1024px) {
	.home-header-container {
		height: fit-content;

		.home-header-content {
			justify-content: space-between;

			.center-content {
				display: none;
			}
		}

		.center-content-rps {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 40px;

			.child-content {
				div {
					margin: 0 1rem;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.home-header-container {
		height: fit-content;

		.center-content-rps {
			.child-content {
				p {
					font-size: 12px;
				}
			}
		}
	}

	.home-header-banner {
		width: 100%;
		object-fit: cover;
		height: 460px;
		margin: 0;

		.banner-header-content {
			h2 {
				font-size: 20px;
			}
		}

		.option {
			top: 155px;
			flex-wrap: wrap;
			gap: 0;
			padding: 0 12px;

			.option-item {
				padding: 0 12px;
				width: 33.3333%;
				flex: 0 0 33.3333%;
				margin-bottom: 1rem;

				.item-icon {
					img {
						width: 40px;
					}
				}

				.item-text {
					font-size: 12px;
				}
			}
		}
	}
}

@media screen and (max-width: 375px) {
	.home-header-container {
		.center-content-rps {
			display: none;
		}

		.home-header-content {
			.right-content {
				width: 100%;
			}

			.left-content {
				.nav-menu {
					width: 150px;
				}
			}
		}
	}

	.home-header-banner {
		background-size: contain;

		.banner-header-content {
			h2 {
				font-size: 16px;
			}
		}

		.search {
			width: 300px;
		}

		.option {
			top: 50px;
		}
	}
}
