@import "../../styles/_variables.scss";

.section-footer {
    padding         : 1rem 0;
    background-color: $dark-blue;

    .footer-main {
        display        : flex;
        align-items    : center;
        justify-content: space-between;
        font-family    : Montserrat;

        .footer-left,
        .footer-right {

            p {
                color        : $light;
                margin-bottom: 0;
            }
        }

        .footer-center {
            ul {
                display    : flex;
                align-items: center;
                gap        : 0 3rem;
                padding    : 0;
                margin     : 0;

                li {
                    list-style: none;
                    font-size : 28px;

                    a {
                        color: $light;
                    }
                }
            }
        }
    }
}